---
import Layout from "../../layouts/Layout.astro";
import SectionPages from "../../components/SectionPages.astro";
import { getCollection } from "astro:content";

// Obtiene la colección de especialidades y ordena alfabéticamente por título
const postsClient = (await getCollection('especialidades')).sort((a, b) =>
    a.data.title.localeCompare(b.data.title, 'es')
);
---

<Layout title="ESPECIALIDADES | ESTUDIO JURÍDICO CABRERA" description="descripcion de especialidades">
    <SectionPages title="ESPECIALIDADES" description="Ofrecemos una amplia gama de servicios legales especializados para satisfacer las necesidades de nuestros clientes.">
        <section class="py-16">
            <div class="container mx-auto px-6">

                <!-- Descripción -->
                <p class="text-center text-lg text-gray-600 mb-12">
                    En el Estudio Jurídico Cabrera, ofrecemos una amplia gama de servicios legales especializados
                    para satisfacer las necesidades de nuestros clientes. Conozca nuestras áreas de práctica.
                </p>

                <!-- Grid de especialidades -->
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    <!-- Iteración sobre cada especialidad -->
                    {postsClient.map(post => (
                            <div class="bg-secondaryLocal shadow-md rounded-lg p-6" >
                                <img src={post.data.src} alt={post.data.alt} class="w-full h-40 object-cover rounded-md mb-4">
                                <h3 class="text-2xl font-semibold text-primaryLocal mb-2">{post.data.title}</h3>
                                <p class="text-primaryLocal mb-4">
                                    {post.data.description}
                                </p>
                                <a href={`/especialidades/${post.slug}`} class="text-primaryLocal font-bold hover:underline">Leer más &rarr;</a>
                            </div>
                    ))}
                </div>
            </div>
        </section>
    </SectionPages>
</Layout>
