---
import type { CollectionEntry } from 'astro:content';
import '../styles/noticias.css';
import FormattedDate from '../components/FormattedDate.astro';
import Layout from "./Layout.astro";
import NewsTape from "../components/NewsTape.astro";

type Props = CollectionEntry<'noticias'>['data'];
const { title, description, pubDate, updatedDate, heroImage} = Astro.props;
const currentURL = Astro.url.href;
---

<html lang="en">
<Layout title={title} description={description}>
    <main class="py-[2rem] xl:py-[4rem]">
        <article>
            <div class="hero-image">
                {heroImage && <img src={heroImage} alt="" />}
                <h1 class="notice__title">{title}</h1>
                <div class="cont__publ">
                    <FormattedDate date={pubDate} />
                    <div class="icons__publ">
                        <a href={`https://www.facebook.com/sharer/sharer.php?u=${currentURL}`} target="_blank">
                            <img alt="facebook" src="https://res.cloudinary.com/dixzojb4s/image/upload/v1728946784/facebook_jsyy4v.svg">
                        </a>
                        <a href={`https://twitter.com/intent/tweet?url=${currentURL}&text=Check%20out%20this%20page`} target="_blank">
                            <img alt="twitter" src="https://res.cloudinary.com/dixzojb4s/image/upload/v1728946785/twitter_j5muqs.svg">
                        </a>
                        <a href={`https://api.whatsapp.com/send?text=${currentURL}`} target="_blank">
                            <img alt="whatsapp" src="https://res.cloudinary.com/dixzojb4s/image/upload/v1728946785/whatsapp_ssklfl.svg">
                        </a>
                        <a href={`https://www.linkedin.com/sharing/share-offsite/?url=${currentURL}`} target="_blank">
                            <img alt="linkedin" src="https://res.cloudinary.com/dixzojb4s/image/upload/v1728946784/linkedin_zzh7cn.svg">
                        </a>
                        <a href={`https://pinterest.com/pin/create/button/?url=${currentURL}&media=URL_DE_LA_IMAGEN&description=Descripción%20de%20tu%20página`} target="_blank">
                            <img alt="pinterest" src="https://res.cloudinary.com/dixzojb4s/image/upload/v1728946784/pinterest_vl2gtg.svg">
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row gap-16">
                <div class="prose">
                    <div class="title">
                        <div class="date">
                            {updatedDate && (
                                    <div class="last-updated-on">
                                        Last updated on
                                        <FormattedDate date={updatedDate} />
                                    </div>
                            )}
                        </div>
                        <hr />
                    </div>
                    <slot />
                </div>
                <!-- Pasamos el slug actual al componente NewsTape -->
                <NewsTape />
            </div>
        </article>
    </main>
</Layout>
</html>
